html{
    font-family: "Montserrat";
    height: 100%;
}

body {
    background-color: #001435;
    padding: 0;
    margin: 0px;
}

header {
    background: #000116;
    height: 100px;
    margin-top: 0px;
    width: 100%;
}

p {
    font-size: 17px;
    text-align: justify;
}



/**Configurações do Menu**/
nav.menu{
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-menu {
    margin-left: 100px;
}

.menu-itens {
    display: flex;
    margin-right: 150px;
}

.menu ul {
    list-style-type: none;
    text-transform: uppercase;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul ul li {
    width: 160px;
    float: none;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu-itens a {
    background-color: #000116;
    color: #ffde00;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.menu-itens a:hover {
    color: #a56d0b;
}
/**Configurações do Menu**/



/**Configurações do Logo Inicial**/
.logo img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
/**Configurações do Logo Inicial**/



/**Configurações do corpo principal**/
section.corpo {
    background: #cfd1de;
    width: 55%;
    margin: auto;
    padding: 50px 60px;
    border-radius: 20px;
}

.corpo a {
    color: #a56d0b;
    text-decoration: none;

}

.titulo h1 {
    text-align: center;
    font-size: 40px;
    margin: 0px;
}

.titulo p {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
}

.corpo img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

figcaption {
    padding: 10px;
    text-align: center;
    font-size: 13px;
}
/**Configurações do corpo principal**/



/**Configurações da página de mecanismo**/
.mecanismo a {
    color: black;
}

.fotos-mecanismo {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.fotos-mecanismo figcaption {
    position: absolute;
    margin-top: 240px;
    text-align: center;
    font-size: 13px;
}
/**Configurações da página de mecanismo**/



/**Configurações da página de controle de motores**/
.controle a#microcontrolador {
    color: black;
}
/**Configurações da página de controle de motores**/



/**Configurações das tabelas**/
.tabela, .tabela-dimensionamento {
    border: 1px solid #001435;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

.tabela td {
    font-size: 14px;
    border: 1px solid #001435;
    padding: 12px;
    margin: 0px;
    text-align: center;
    vertical-align: center;
}

.tabela, .tabela-dimensionamento th {
    font-size: 16px;
    border: 1px solid #001435;
    padding: 12px;
    margin: 0px;
    text-align: center;
    vertical-align: center;
}

.tabela-dimensionamento td {
    font-size: 14px;
    border: 1px solid #001435;
    padding: 8px;
    margin: 0px;
    text-align: center;
    vertical-align: center;
}
/**Configurações das tabelas**/



/**Configurações da página sobre nós**/
.desenvolvedores {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
/**Configurações da página sobre nós**/



/**Configurações do Rodapé**/
footer {
    background: #000116;
    color: white;
    text-align: center;
    padding: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: #a56d0b;
}
/**Configurações do Rodapé**/


/**Seção de responsividade**/
@media screen and (max-width: 800px) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    nav.menu {
        font-size: 13px;
    }

    .menu-itens {
        margin: 0px;
    }

    .logo-menu {
        margin: 0;
        padding: 0;
    }

    .logo img, section.corpo {
            max-width:100%;
            height:auto;
    }
}