html{
    font-family: "Montserrat";
    height: 100%;
}

body {
    background-color: #001435;
    padding: 0;
    margin: 0px;
}

header {
    background: #000116;
    height: 100px;
    margin-top: 0px;
    
}

p {
    font-size: 17px;
    text-align: justify;
}



/**Configurações do Menu**/
nav.menu{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-itens {
    display: flex;
}

.menu ul {
    list-style-type: none;
    text-transform: uppercase;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul ul li {
    width: 160px;
    float: none;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu-itens a {
    background-color: #000116;
    color: #ffde00;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.menu-itens a:hover {
    color: #a56d0b;
}
/**Configurações do Menu**/


.logo img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


/**Configurações do corpo principal**/
section.corpo {
    background: #cfd1de;
    margin: 40px 20%;
    padding: 50px 60px;
    border-radius: 20px;
}

.corpo a {
    color: #a56d0b;
    text-decoration: none;

}
/**Configurações do corpo principal**/

.titulo h1 {
    text-align: center;
    font-size: 40px;
    margin: 0px;
}

.titulo p {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
}

.corpo img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

.mecanismo a {
    color: black;
}

.controle a#microcontrolador {
    color: black;
}

/**Configurações do Rodapé**/
footer {
    background: #000116;
    color: white;
    text-align: center;
    padding: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: #a56d0b;
}
/**Configurações do Rodapé**/